<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8"><p>Implemented for CLIPS project by Sparta Technologies Ltd</p></div>
      <div class="col-xs-0 col-md-4 text-right hidden-xs hidden-sm">
        <a href="#"><img src="<%= asset_path 'footer/clips-logo.png' %>"></a>
      </div>
    </div>
  </div>
</footer>